<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ifsul.bruna.exmoker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exmoker">
        <activity android:name=".QuestionarioGatilhosActivity" />
        <activity android:name=".PrecisoAjudaActivity" />
        <activity android:name=".MetodoParadaActivity" />
        <activity android:name=".ResultadoInformacoesActivity" />
        <activity android:name=".ResultadoFargestromActivity" />
        <activity android:name=".InformacoesAdicionaisActivity" />
        <activity android:name=".PreMainActivity" />
        <activity android:name=".TesteFargestromActivity" />
        <activity android:name=".EsqueceuSenhaActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".CadastroContatoApoioActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>